.App {
  text-align: center;
  scrollbar-width: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.App-link {
  color: #61dafb;
}

.expanding-div {
  width: 200px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
}

.App :not(.selectable) {
  user-select: none;
}